.selected-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 56rem;
  width: 48rem;
  border-radius: 4px;
  background: #ffc107;
  padding: 2.4rem 2.4rem 3.8rem;
  margin: 0 auto;
}

.selected-options__button {
  width: 100%;
}

.selected-options__title {
  margin-bottom: 1.6rem;
}
.selected-options__footer {
  text-align: center;
}

.selected-options__total {
  margin-bottom: 2.4rem;
  font-family: "Roboto";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  align-self: center;
}
